<main>
   <nav>
    <div class="nav-wrapper deep-purple lighten-3">
      <a href="#" class="brand-logo center">Scrapey Scrape</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/article-search">Scrape</a></li>
        <li><a href="/articles-saved">Saved Articles</a></li>
        <li><a href="/MOAB">Clear Articles</a></li>
      </ul>
    </div>
  </nav>

  <section id="articles">
    <div class="article-wrapper"></div>
    <div class="row">
      <div class="col m5">
      </div>
      <div class="col m2">
          <h2 id="sub-title">Articles</h2>
      </div>
    </div>
    {{#each article}}
    <div class="row">
      <div class="col s0 m2"></div>
      <div class="col s12 m8">
        <div class="card">
          {{#if image}}
            <div class="card-image">
              <img src="{{image}}" alt="Sorry Image Not Available">
            </div>
          {{/if}}
          {{#unless image}}
            <div class="card-image">
              <img src="http://staging1.lebanesefeast.com.au/wp-content/uploads/2018/10/picture-not-available.jpg" alt="Sorry Image Not Available">
            </div>
          {{/unless}}
          <span class="card-title title-text">{{title}}</span>
          <div class="card-content">
            <p class="summary-text">{{summary}}</p>
          </div>
          <div class="card-action">
            <a href="{{url}}">Link to Article</a>
            {{#unless saved}}
              <a class="comments-link" href="/article-save/{{id}}">Save Article</a>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    </div>
  </section>

</main>