<main>

  <nav>
    <div class="nav-wrapper deep-purple lighten-3">
      <a href="#" class="brand-logo center">Scrapey Scrape</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/article-search">Scrape</a></li>
        <li class="active"><a href="/articles-saved">Saved Articles</a></li>
        <li><a href="/MOAB">Clear Articles</a></li>
      </ul>
    </div>
  </nav>

  <section id="articles">
    <div class="article-wrapper"></div>
    {{#each article}}
    {{#if saved}}
    <div class="row">
      <div class="col s0 m2"></div>
      <div class="col s12 m8">
        <div class="card">
          {{#if image}}
          <div class="card-image">
            <img src="{{image}}" alt="Sorry Image Not Available">
          </div>
          {{/if}}
          {{#unless image}}
          <div class="card-image">
            <img src="http://staging1.lebanesefeast.com.au/wp-content/uploads/2018/10/picture-not-available.jpg" alt="Sorry Image Not Available">
          </div>
          {{/unless}}
          <span class="card-title title-text">{{title}}</span>
          <div class="card-content">
            <p class="summary-text">{{summary}}</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn  purple darken-3" href="{{url}}">Link to Article</a>
            <button class="waves-effect waves-light btn open-notes purple darken-3" data-id="{{id}}">View Notes</button>
          </div>
        </div>
      </div>
    </div>
    <div id="modal{{id}}" class="modal">
      <div class="modal-content">
        <div class="comments">
          <h5 class="modal-title">Comments</h5>
          <form action="/comment-save/{{id}}" method="POST">
            <label for="author">Name:</label>
            <input type="text" name="author" id="name-input">

            <label for="comment">Enter a comment:</label>
            <textarea name="comment" id="comment-input" cols="30" rows="10"></textarea>
            <button class="btn waves-effect waves-light deep-purple lighten-1 submit-button" type="submit" href="#!"
              name="action">Submit
            </button>
          </form>
          <hr>
          {{#each comments}}
          <div class="comment-wrapper">
            <div class="row">
              <div class="col s12 m6">
                <div class="card grey lighten-1">
                  <div class="card-content white-text">
                    <span class="card-title">{{author}}</span>
                    <p>{{text}}</p>
                    <hr>
                    <p>{{date}}</p>
                  </div>
                  <div class="card-action">
                    <a class="link" href="/comment-delete/{{id}}">Delete Comment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          {{/each}}

        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    {{/if}}
    {{/each}}
    </div>
  </section>
</main>
